{% if content_block.type == 'Image' %}
	<li >
		<img class="content-block" style="width:100%" src="{{ asset(content_block.url) }}" alt="Symfony!" />
	</li>
		            		
{% elseif content_block.type == 'Event' %}
	<li class="small-12 medium-6 columns">
		<div class="text content-block">
			<div class="small-11 small-centered columns text-center">
				<h3 class="event-name"> {{content_block.name}} </h3>
				<p class="event-date"> {{content_block.when}} </p>
				<p class="event-location"> {{content_block.where}} </p>
				<p class="event-description text-justify">{{content_block.what}}</p>
			</div>
		</div>
	</li>

{% elseif content_block.type == 'Text' %}
	<li class="small-12 medium-6 columns">
		<div class="text content-block">
			<div class="small-11 small-centered columns text-center">
				{% if content_block.title != '' %}
					<p><h3>{{content_block.title}}</h3></p>
				{% endif %}
				{% for paragraph in content_block.paragraphs_array %}
					<p class="event-description text-justify">{{paragraph | raw}}</p>
				{% endfor %}
			</div>
		</div>
	</li>
{% endif %}